<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="os.api.v2.model.impl.user.mapper.UserRoleMapper">
    <select id="getMultiModuleIdByUserId" parameterType="long" resultType="Long">
        SELECT
            role_module.system_module_id
        FROM
            user_role user_role
            LEFT JOIN role_module role_module ON role_module.role_id = user_role.role_id
        WHERE
            user_id = #{userId}
        GROUP BY
            role_module.system_module_id
        ORDER BY NULL
    </select>
</mapper>
